* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
}

.container {
    margin: 25% 0;
    width: 100%;
    display: flex;
    align-items: center;

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: 40vw;
        overflow: hidden;
        border-radius:50vw;
            img {
                width: 120%;
                height: 120%;
                object-fit: cover;
        }
    }

    &__txt{
        width: 50%;

        &-title{
            margin: 0;
            font-size: 40px;
            text-align: center;
        }
    }
    
    &:nth-child(even){
        flex-direction: row-reverse;
    }
}

@media (max-width: 1024px){
    .container, .container:nth-child(even){
        flex-direction: column;
        .container__img{
            width: 100%;
            height: 70vh;
            img{
                height: 150%;
                width: 100%;
            }
        }
        .container__txt-title{
            margin-top: 30px;
        }         
    }
}